
#box{margin:30px 0 0 50px;height: 370px;
	width: 320px;float: left;
 }

.clearfix:after { clear: both; display: block; height: 0; content: ""; }
/*left*/
.left{width: 350px;float: left;overflow: hidden;}

/*right*/
.right{
	
	width: 380px;height: 380px;
	border: 1px solid #f00;
	display: none;float: left;overflow: hidden;margin-left:50px;position: absolute;
	top: 317px;
	left: 320px;
	}
.right img{position: absolute;top: 0;left: 0;width: 800px;height: 800px;}

/*smallPic */
.smallPic{width:298px;height:298px;overflow: hidden;position: relative;}
.smallPic img{width: 298px;height: 298px;}
.smallPic span{width: 141px;height: 141px;background:#FFFFFF; left:0px;top:0px; position:absolute; display:none; filter:alpha(opacity:20); opacity:0.2; }

/*list*/
#list{margin-left: 10px;}
#list li{width: 51px;overflow: hidden;float: left;margin: 10px 5px;}
#list li img{width: 51px;height: 51px}